<h5> About Me </h5>

<h3> I am a recent graduate of the school of mechanical engineering at University of Wisconsin-Madison.
 During my time a UW I completed two co-op terms. The first was at Cummins emissions solutions where I worked on the development of after treatment systems for large diesel engines. The second co-op I completed was at GE-Healthcare where I mainly worked on the development of ventilators. Specifically, testing new product to ensure compliance with FDA standards. I am currently looking for an entry level mechanical engineering position. </h3>