<%= provide(:title, "Erik Resume") %>
<h5> Objective </h5>
  <div>
    <h3> An entry-level mechanical engineering position with emphasis in design or testing.</h3>
  </div>
<h5> Education </h5>
  <h3> BS Mechanical Engineering UW-Madison 2013</h3>
    <h3><li>GPA 3.14</li></h3>
  <h2>  
<h5> Selected Course Work </h5>
  <h3> Thermodynamics, Mechanics of Materials, Statics, Dynamics, Human Factors Engineering</h3>
  <h3> Dynamic Systems, Manufacturing Processes, Heat Transfer, Design of Machine elements</h3>

<h5> Experience </h5>
  
  <h2> Technical Co-op GE-Healthcare May 2012-January 2013</h2>


      <h3><li>Worked on R&D for GE critical care ventilators</li></h3>
      <h3><li>Performed accuracy and validation testing on GE critical care ventilators</li></h3>
      <h3><li>Designed and developed test fixtures</li></h3>
      <h3><li>Analyzed test data to identify causes of inaccuracy</li></h3>
      <h3><li>Wrote test procedures and conducted tests for 510 (k) verification </li></h3>
      <h3><li>Updated lab view code for new tests</li></h3>
      <h3><li>Developed validation procedure for testing equipment</li></h3>
      <h3><li>Modeled parts and created drawings</li></h3>
      <h3><li>Updated product specifications and procedures for new product introduction</li></h3>
      <h3><li>Implemented ECOs/ECRs</li></h3>
  <h2> Project Engineer Co-op Cummins Emissions Solutions September 2011-January 2012</h2>
    <h3><li>Performed teardown and inspection of products after testing </li></h3>
    <h3><li>Created a teardown procedure to be used on future teardowns and inspections across the entire product line.</li></h3>
    <h3><li>Coordinated prototype builds and testing</li></h3>
    <h3><li>Marked up prints for specific customers</li></h3>
    <h3><li>Oversaw finite element work requests</li></h3>
    <h3><li>Submitted requests and appropriate ProE models </li></h3>
    <h3><li>Worked with test engineers to ensure finite element testing mirrored real life testing conditions </li></h3>
<h5> Computer Skills</h5>
<h3> MS Office, Mac OSX, Visual Basic, Python, EES,  Unigraphics NX7, ANSYS (finite element analysis), ProEngineer, PLM/PDM, Solid Works, Ruby, Ruby on Rails</h3>

<h5> Extra Curricular Activites </h5>
<h3> ASME </h3>
<h3> Hoofers Sailing Club </h3>


 
   
        