@import "bootstrap";

html {overflow-y: scroll; }
body {padding-top: 0px;}
section {overflow: auto;}

.center {text-align: center;}
.center.h1 {margin-bottom: 10px}

.inner-item {
    text-align: center;
    img {
    margin: 0 auto;}}

.carousel-inner { text-align: center; }

.carousel .item > img { display: inline-block; }

p{
  font-size: 2em;
  line-height: 2.7em;
}

.carousel-caption {
      max-width: 550px;
      padding: 0 20px;
      margin: 0 auto;
      margin-top: 200px;
      text-align:center;
      color: #6699FF;
}


footer {
  margin-top: 4px;
  padding-top: 0px;
  border-top: 5px solid #777;
  color: #888;
  padding-bottom: 30px;
  text-align: center;
}

header {
  
  border-top: 5px solid #111;
  text-align: center;

 
  

  background-color: #ffffFF;

}
h5 {
  text-align: center;
  font-size: 2em;
  color: #0000FF;

}

h1 {
  text-align: center;
  font-size: 3em;
  color: 999999;

}
h2 {
  text-align: center;
  font-size: 2em;

}
h3 {
  text-align: center;
  font-size: 1.2em;
}

h6 {
  text-align: center;
  font-size: 1.2em;
}
.container {
 
}

.navbarbrand {
  text-align: center;
}

.black {
  padding-top: 120px;
  padding-bottom: 120px;
}


